In [9]:
import glob
import os
import pandas as pd
import seaborn as sns
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

### Articles DataFrame EDA

In [8]:
# read articles csv file into a dataframe
articles_df = pd.read_csv('/Users/adam/GitHub/public_portfolio/kaggle_globo_user_interactions/articles_metadata.csv')
articles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364047 entries, 0 to 364046
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   article_id     364047 non-null  int64
 1   category_id    364047 non-null  int64
 2   created_at_ts  364047 non-null  int64
 3   publisher_id   364047 non-null  int64
 4   words_count    364047 non-null  int64
dtypes: int64(5)
memory usage: 13.9 MB

In [13]:
# Look for missing values
articles_df.isnull().sum()

article_id       0
category_id      0
created_at_ts    0
publisher_id     0
words_count      0
dtype: int64

In [15]:
# Check for duplicate rows
articles_df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
364042    False
364043    False
364044    False
364045    False
364046    False
Length: 364047, dtype: bool

In [18]:
## Check how many rows each article id has
articles_df['article_id'].value_counts()

article_id
0         1
242727    1
242703    1
242702    1
242701    1
         ..
121347    1
121346    1
121345    1
121344    1
364046    1
Name: count, Length: 364047, dtype: int64

### Clicks DataFrame EDA

In [10]:
# read the clicks data into a dataframe

path = r'/Users/adam/GitHub/public_portfolio/kaggle_globo_user_interactions/clicks_hour' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))

clicks_df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [11]:
clicks_df.head()

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,93863,1507865792177843,1507865792000,2,96210,1507865832925,4,3,2,1,21,2
1,93863,1507865792177843,1507865792000,2,158094,1507865862925,4,3,2,1,21,2
2,294036,1507865795185844,1507865795000,2,20691,1507865819095,4,3,20,1,9,2
3,294036,1507865795185844,1507865795000,2,96210,1507865849095,4,3,20,1,9,2
4,77136,1507865796257845,1507865796000,2,336245,1507866133178,4,3,2,1,25,2

In [12]:
clicks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2988181 entries, 0 to 2988180
Data columns (total 12 columns):
 #   Column               Dtype
---  ------               -----
 0   user_id              object
 1   session_id           object
 2   session_start        object
 3   session_size         object
 4   click_article_id     object
 5   click_timestamp      object
 6   click_environment    object
 7   click_deviceGroup    object
 8   click_os             object
 9   click_country        object
 10  click_region         object
 11  click_referrer_type  object
dtypes: object(12)
memory usage: 273.6+ MB

In [14]:
# Look for missing values
clicks_df.isnull().sum()

user_id                0
session_id             0
session_start          0
session_size           0
click_article_id       0
click_timestamp        0
click_environment      0
click_deviceGroup      0
click_os               0
click_country          0
click_region           0
click_referrer_type    0
dtype: int64

In [16]:
# Check for duplicate rows
clicks_df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
2988176    False
2988177    False
2988178    False
2988179    False
2988180    False
Length: 2988181, dtype: bool

In [19]:
## Check how many rows each article id has
clicks_df['click_article_id'].value_counts()

click_article_id
160974    37213
272143    28943
336221    23851
234698    23499
123909    23122
          ...
283269        1
329065        1
38473         1
289316        1
164517        1
Name: count, Length: 46033, dtype: int64

In [20]:
## Check how many rows each user id has
clicks_df['user_id'].value_counts()

user_id
5890      1232
73574      939
15867      900
80350      783
15275      746
          ...
69650        2
69640        2
69637        2
69625        2
294270       2
Name: count, Length: 322897, dtype: int64